@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
    background: #7e0f12;

}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.fs-big{font-size: 6rem;}
.info{
    color: #f0f4f7;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.info p{
    font-weight: 100;
    font-size: 1.1rem;
    color: #fac57d;
}
.info #but{
    font-size: 1.3rem;
    padding: 20px;
    font-weight: bold;
    color: #d9990b;
}
hr{
    height: 3px;
    background-color: #1f3102;
    border: none;
}
#timer{
    color: #f0f4f7;
    text-align: center;
    margin: 100px;
    width: 100%;
}
footer {
    background-color: #ddd;
    display: flex;
    justify-content: center;
}
::-webkit-scrollbar{
    width: 0;
}
#icon{
    font-size: 1em;
    color: red;
}
#icon a{
    text-decoration: none;
    color: red;
}
@media only screen and (max-width: 700px) {
    .fs-big{font-size: 4rem;}
}
@media only screen and (max-width: 450px) {
    .fs-big{font-size: 3.5rem;}
    .info p{
        font-size: 0.9em;
    }
    .info #but{
        font-size: 1em;
    }
  }
  @media only screen and (max-width: 375px) {
    .fs-big{font-size: 3rem;}
    .info h1{
        font-size: 3.9em;
    }
    .info p{
        font-size: 0.8em;
    }
    .info #but{
        font-size: 1em;
    }
}

